body {
  background: papayawhip;
}

.container{
  display: flex;
}


.a {
  width: max-content;
  height: 200px;
}

.b {
  width: max-content;
  height: 400px;
}

.c {
  max-width: 500px;
}

.d {
  max-width: 500px;
  grid-row: 2/3;
}

.e {
  max-width: 500px;
}

.f {
  width: max-content;
  height: 500px;
}
@media(max-width: 600px){
  .container {
    flex-direction: row;
  }
}